* {
  padding: 0;
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #fff;
}

.header {
  height: 100vh;
  background: #f5e9d9 url("img/logo.png") no-repeat center;
  background-size: 800px;
}

.header p {
  position: absolute;
  top: 82%;
  width: 100%;
  text-align: center;
}

.header a {
  background: #ffb418;
  padding: 10px 50px;
  font-size: 26px;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
  color: #fff;
}

.wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  width: 1000px;
  margin: 0 auto;
}